@model Bicistock.Common.Models.AppointmentManager;
@using Microsoft.AspNetCore.Http;

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    @{
        Layout = "../Shared/_LayoutSubPage.cshtml";
        ViewData["Title"] = "Pedir Cita";
    }

</head>
<body class="container bg-light">

    <div class="container" style="margin-top:10%;">
        <main>
            <a href="/bikes">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg>
            Volver al Inicio</a>

            <div class="py-5 text-center">
                <h2>Pide tu cita</h2>

            </div>
            

            <div>

                <form method="post">
                    <div class="row g-3">
                        <div class="col-sm-5">
                            <label class="form-label">Nombre</label>
                            @Html.TextBoxFor(x => x.CurrentUser, new { @class = "form-control", @disabled ="disabled", @value = Model.CurrentUser})
                        </div>

                        <div class="col-sm-3">
                            <center>
                                <label class="form-label">Marca</label>
                                <br />
                                @Html.DropDownListFor(x => x.Brand.Id, new SelectList(Model.BrandList, "Id", "Name"), "--SELECCIONA MARCA--", new {@class = "form-select"})
                            </center>
                        </div>

                        <div class="col-sm-4">

                            <div class="form-group">
                                <label class="form-label">Fecha</label>

                                <div class="col-md-12">
                                    @Html.EditorFor(x => x.Date, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <label for="lastName" class="form-label">Descripción</label>
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 10, @placeholder = "Escribe aquí tu mensaje..." })

                        </div>

                    </div>
                    <button style="margin-top:10%;" class="w-100 btn btn-success btn-lg" type="submit">Pide tu cita</button>
                </form>
            </div>



        </main>
    </div>


    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
