@model Bicistock.Common.Models.CS_ModeloGeneral;
@{
    Layout = "../Shared/_LayoutNav.cshtml";
    ViewData["Title"] = "Eventos";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 style="padding:5%;" class="page-section-heading text-center text-uppercase text-secondary mb-0">EVENTOS CERCA DE TI</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">

            @foreach (var item in Model.EventList)
            {
                <div class="row mb-1">
                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">ORGANIZADO POR:</strong>
                                <h3 class="mb-0">@item.BrandName</h3>
                                <p class="card-text mb-auto">@item.EventDescription</p>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56735.70437738091!2d-0.34908477872850907!3d38.44938655957444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd623d419fe6baf9%3A0x7b35fd9268ad8c6b!2sDormio%20Resort%20Costa%20Blanca%20Beach%20%26%20Spa!5e0!3m2!1ses!2ses!4v1680210792907!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
</section>

