USE [BICISTOCK]
GO
/****** Object:  User [sa1]    Script Date: 04/06/2023 19:02:20 ******/
CREATE USER [sa1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BIKE]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
	[ID_Brand] [int] NOT NULL,
	[Bike_Image] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND_COMPONENT]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND_COMPONENT](
	[id_Component] [int] NOT NULL,
	[id_brand] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Component] ASC,
	[id_brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITATION]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITATION](
	[IDCitation] [int] IDENTITY(1,1) NOT NULL,
	[DateCitation] [datetime] NOT NULL,
	[DateRequest] [datetime] NOT NULL,
	[UsernameClient] [varchar](30) NOT NULL,
	[StatusCitation] [varchar](10) NOT NULL,
	[ID_Brand] [int] NOT NULL,
	[Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCitation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPONENT]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPONENT](
	[id_Component] [int] IDENTITY(1,1) NOT NULL,
	[name_Coponent] [varchar](max) NOT NULL,
	[component_image] [varchar](max) NULL,
	[description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Component] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT](
	[id_event] [int] IDENTITY(1,1) NOT NULL,
	[id_brand] [int] NOT NULL,
	[event_description] [varchar](max) NULL,
	[MapURL] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 04/06/2023 19:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](max) NULL,
	[DNI] [varchar](max) NULL,
	[Name] [varchar](max) NULL,
	[Surnames] [varchar](max) NULL,
	[Age] [int] NULL,
	[Phone] [varchar](max) NULL,
	[Verified] [varchar](1) NULL,
	[Id_Permission] [tinyint] NOT NULL,
	[Email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BIKE] ON 

INSERT [dbo].[BIKE] ([ID], [Name], [ID_Brand], [Bike_Image], [Description]) VALUES (1, N'TREK Marlin 7', 1, N'/Images/bicicleta-trek-marlin-7-2022.jpg', NULL)
INSERT [dbo].[BIKE] ([ID], [Name], [ID_Brand], [Bike_Image], [Description]) VALUES (2, N'GIANT Stance 29', 2, N'/Images/bicicleta-giant-stance-29-1-rosewood-2022.jpg', NULL)
INSERT [dbo].[BIKE] ([ID], [Name], [ID_Brand], [Bike_Image], [Description]) VALUES (3, N'SCOTT Sub Comfort 20', 10, N'/Images/bicicleta-scott-sub-comfort-20-unisex-2022.jpg', NULL)
SET IDENTITY_INSERT [dbo].[BIKE] OFF
GO
SET IDENTITY_INSERT [dbo].[BRAND] ON 

INSERT [dbo].[BRAND] ([ID], [Name]) VALUES (1, N'Trek')
INSERT [dbo].[BRAND] ([ID], [Name]) VALUES (2, N'Giant')
INSERT [dbo].[BRAND] ([ID], [Name]) VALUES (3, N'Specialized')
SET IDENTITY_INSERT [dbo].[BRAND] OFF
GO
INSERT [dbo].[BRAND_COMPONENT] ([id_Component], [id_brand]) VALUES (1, 5)
INSERT [dbo].[BRAND_COMPONENT] ([id_Component], [id_brand]) VALUES (2, 5)
INSERT [dbo].[BRAND_COMPONENT] ([id_Component], [id_brand]) VALUES (3, 6)
GO
SET IDENTITY_INSERT [dbo].[CITATION] ON 

INSERT [dbo].[CITATION] ([IDCitation], [DateCitation], [DateRequest], [UsernameClient], [StatusCitation], [ID_Brand], [Description]) VALUES (2, CAST(N'2022-05-26T15:00:00.000' AS DateTime), CAST(N'2022-05-15T11:33:21.757' AS DateTime), N'javi', N'Aceptada', 2, N'No me funcionan los cambios')
INSERT [dbo].[CITATION] ([IDCitation], [DateCitation], [DateRequest], [UsernameClient], [StatusCitation], [ID_Brand], [Description]) VALUES (3, CAST(N'2022-05-24T10:15:00.000' AS DateTime), CAST(N'2022-05-15T13:57:01.967' AS DateTime), N'Ainhoa', N'Aceptada', 10, N'Cambiar pastillas de freno')
INSERT [dbo].[CITATION] ([IDCitation], [DateCitation], [DateRequest], [UsernameClient], [StatusCitation], [ID_Brand], [Description]) VALUES (4, CAST(N'2022-05-27T12:00:00.000' AS DateTime), CAST(N'2022-05-15T14:08:27.243' AS DateTime), N'Lucas', N'Aceptada', 4, N'Revisión general')
SET IDENTITY_INSERT [dbo].[CITATION] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPONENT] ON 

INSERT [dbo].[COMPONENT] ([id_Component], [name_Coponent], [component_image], [description]) VALUES (1, N'Desviador SHIMANO SIS', N'/Images/desviador-shimano-sis.jpg', N'Descripcion desviador')
INSERT [dbo].[COMPONENT] ([id_Component], [name_Coponent], [component_image], [description]) VALUES (2, N'Freno trasero SHIMANO Mt400', N'/Images/freno-trasero-shimano-mt400.jpg', N'Descripcion freno')
INSERT [dbo].[COMPONENT] ([id_Component], [name_Coponent], [component_image], [description]) VALUES (3, N'Disco freno SRAM Centerline 160 mm', N'/Images/disco-freno-sram-centerline-160-mm-biselado.jpg', N'Descripcion disco')
SET IDENTITY_INSERT [dbo].[COMPONENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EVENT] ON 

SET IDENTITY_INSERT [dbo].[EVENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISSION] ON 

INSERT [dbo].[PERMISSION] ([ID], [Name]) VALUES (1, N'Usuario')
INSERT [dbo].[PERMISSION] ([ID], [Name]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[PERMISSION] OFF
GO
INSERT [dbo].[USER] ([Username], [Password], [DNI], [Name], [Surnames], [Age], [Phone], [Verified], [Id_Permission], [Email]) VALUES (N'aa', N'961b6dd3ede3cb8ecbaacbd68de040cd78eb2ed5889130cceb4c49268ea4d506', N'aa', N'PEepe', N'aaaaaa', 11, N'11', N'T', 1, N'testgaminguser@gmail.com')
INSERT [dbo].[USER] ([Username], [Password], [DNI], [Name], [Surnames], [Age], [Phone], [Verified], [Id_Permission], [Email]) VALUES (N'aaron', N'admin', N'54208529J', N'Aaron', N'Leon', 20, N'666666666', N'f', 2, NULL)
INSERT [dbo].[USER] ([Username], [Password], [DNI], [Name], [Surnames], [Age], [Phone], [Verified], [Id_Permission], [Email]) VALUES (N'AaronLeon', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'56372837H', N'AaronLeon', N'Leonss', 23, N'777777777', N'T', 2, N'testgaminguser@gmail.com')
GO
ALTER TABLE [dbo].[BIKE]  WITH CHECK ADD FOREIGN KEY([ID_Brand])
REFERENCES [dbo].[BRAND] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BRAND_COMPONENT]  WITH CHECK ADD FOREIGN KEY([id_brand])
REFERENCES [dbo].[BRAND] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BRAND_COMPONENT]  WITH CHECK ADD FOREIGN KEY([id_Component])
REFERENCES [dbo].[COMPONENT] ([id_Component])
GO
ALTER TABLE [dbo].[CITATION]  WITH CHECK ADD FOREIGN KEY([ID_Brand])
REFERENCES [dbo].[BRAND] ([ID])
GO
ALTER TABLE [dbo].[CITATION]  WITH CHECK ADD FOREIGN KEY([UsernameClient])
REFERENCES [dbo].[USER] ([Username])
GO
ALTER TABLE [dbo].[EVENT]  WITH CHECK ADD FOREIGN KEY([id_brand])
REFERENCES [dbo].[BRAND] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD FOREIGN KEY([Id_Permission])
REFERENCES [dbo].[PERMISSION] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[BiciMarca]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BiciMarca]
AS
BEGIN

   SELECT BIKE.Name,BRAND.Name
   FROM BIKE,BRAND
   WHERE BIKE.ID_Brand = BRAND.ID
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarCita]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarCita] (@idCita as int)
AS
BEGIN
--COMENTARIOS
DELETE FROM CITATION 
WHERE CITATION.IDCitation = @idCita
END
GO
/****** Object:  StoredProcedure [dbo].[EditarUsuario]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditarUsuario]
@Password varchar (max),
@DNI varchar (max),
@Name varchar (max),
@Surnames varchar (max),
@Age int,
@Phone varchar (max),
@Verified varchar (max),
@Id_Permission tinyint, 
@Username varchar (max)
as
update [dbo].[USER] set Password=@Password, DNI=@DNI, Name=@Name, Surnames=@Surnames,Age=@Age,Phone=@Phone,Verified=@Verified,Id_Permission=@Id_Permission  where Username=@Username
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarUsuario]
@Username int
as
delete from [dbo].[USER] where [Username]=@Username
GO
/****** Object:  StoredProcedure [dbo].[GetBrandById]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetBrandById] (@idBrand as int)
AS
BEGIN

SELECT * 
FROM BRAND
where @idBrand = BRAND.ID
END
GO
/****** Object:  StoredProcedure [dbo].[GetCitationById]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCitationById]
    @Id int
AS
BEGIN
    SELECT CITATION.IDCitation, CITATION.DateCitation, CITATION.DateRequest, CITATION.UsernameClient, CITATION.StatusCitation, BRAND.Name, CITATION.Description
    FROM CITATION, BRAND
    WHERE IDCitation = @Id
	AND CITATION.ID_Brand = BRAND.ID
END
GO
/****** Object:  StoredProcedure [dbo].[GetCitationId]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCitationId]
    @inputName varchar(max)
AS
BEGIN
    SELECT top 1 IDCitation
    FROM CITATION
    WHERE UsernameClient = @inputName
	order by daterequest desc
END
GO
/****** Object:  StoredProcedure [dbo].[GetVerified]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetVerified]
    @username nvarchar(50)
AS
BEGIN
    SELECT Verified
    FROM [User]
    WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCita]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertarCita] (@Datecitation as datetime,@Daterequest as datetime, @Username as varchar(max),@Status as varchar(max),@Idbrand as int,@Description as varchar(max))
as 
begin

	Insert into CITATION
	VaLUES
	(@Datecitation,@Daterequest,@Username,@Status,@Idbrand,@Description)
end
GO
/****** Object:  StoredProcedure [dbo].[InsetarUsuario]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsetarUsuario]
@Username varchar (max),
@Password varchar (max),
@DNI varchar (max),
@Name varchar (max),
@Surnames varchar (max),
@Age int,
@Phone varchar (max),
@Verified varchar (max),
@Id_Permission tinyint,
@Email varchar (255)
as
insert into [dbo].[USER] values (@Username,@Password,@DNI,@Name,@Surnames,@Age,@Phone,@Verified,@Id_Permission, @Email)

GO
/****** Object:  StoredProcedure [dbo].[MostrarEventos]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MostrarEventos]
AS
BEGIN

    SELECT event.id_event,event.event_description,BRAND.Name,EVENT.MapURL
    FROM BRAND,event
    WHERE event.id_brand = BRAND.ID

END
GO
/****** Object:  StoredProcedure [dbo].[MostrarUsuario]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MostrarUsuario] (@nombreusuario varchar(max))
as
SELECT [Username]
      ,[Password]
      ,[DNI]
      ,[Name]
      ,[Surnames]
      ,[Age]
      ,[Phone]
      ,[Verified]
      ,[Id_Permission]
	  ,[Email]
  FROM [dbo].[USER]
  Where @nombreusuario = Username
GO
/****** Object:  StoredProcedure [dbo].[MostrarUsuarios]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MostrarUsuarios]
as
SELECT [Username]
      ,[Password]
      ,[DNI]
      ,[Name]
      ,[Surnames]
      ,[Age]
      ,[Phone]
      ,[Verified]
      ,[Id_Permission]
	  ,[Email]
  FROM [dbo].[USER]
GO
/****** Object:  StoredProcedure [dbo].[NewBike]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NewBike] (@name as varchar(max), @brand as int, @bike_image as varchar(max), @description as varchar(max))
AS
BEGIN

INSERT INTO BIKE
VALUES
(@name,@brand,@bike_image,@description)
END
GO
/****** Object:  StoredProcedure [dbo].[NewComponent]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NewComponent] (@nombreComponente as varchar(max),@idmarca as int,@rutaImagen as varchar(max),@description as varchar(max))
AS
BEGIN

DECLARE @idcomponent INT

INSERT INTO COMPONENT
VALUES
(@nombreComponente,@rutaImagen,@description)

SELECT @idcomponent = COMPONENT.id_Component
FROM COMPONENT
WHERE name_Coponent = @nombrecomponente

INSERT INTO BRAND_COMPONENT
VALUES
(@idcomponent,@idmarca)

END
GO
/****** Object:  StoredProcedure [dbo].[NewEvent]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[NewEvent] (@Brand as int, @Description as varchar(max), @Url as varchar(max))
AS
BEGIN

INSERT INTO [EVENT]
VALUES
(@Brand, @Description, @Url)
END
GO
/****** Object:  StoredProcedure [dbo].[SacaCitas]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SacaCitas]
AS 
BEGIN

	SELECT [IDCitation],[DateCitation],[DateRequest],UsernameClient,[StatusCitation],brand.name,[Description]
	FROM CITATION,BRAND
	WHERE CITATION.ID_Brand = BRAND.ID
END
GO
/****** Object:  StoredProcedure [dbo].[sacarmarcas]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sacarmarcas]
AS
BEGIN

SELECT BRAND.ID, BRAND.Name FROM BRAND
END
GO
/****** Object:  StoredProcedure [dbo].[SelectAllBikes]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SelectAllBikes]
AS 
BEGIN
SELECT * FROM BIKE
end
GO
/****** Object:  StoredProcedure [dbo].[SelectAllComponents]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAllComponents]
AS
BEGIN

    SELECT COMPONENT.id_Component,COMPONENT.name_Coponent,BRAND.Name,BRAND.ID,COMPONENT.component_image,COMPONENT.description
    FROM COMPONENT,BRAND,BRAND_COMPONENT
    WHERE COMPONENT.id_Component = BRAND_COMPONENT.id_Component
    AND BRAND_COMPONENT.id_brand = BRAND.ID

END
GO
/****** Object:  StoredProcedure [dbo].[SelectBrandComponent]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SelectBrandComponent] (@brandId as int)
AS
BEGIN

    SELECT COMPONENT.id_Component,COMPONENT.name_Coponent,BRAND.Name,BRAND.ID,COMPONENT.component_image,COMPONENT.description
    FROM COMPONENT,BRAND,BRAND_COMPONENT
    WHERE COMPONENT.id_Component = BRAND_COMPONENT.id_Component
    AND BRAND_COMPONENT.id_brand = BRAND.ID
	AND BRAND.ID = @brandId

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
    @UserName VARCHAR(max),
    @Dni VARCHAR(max),
    @Name VARCHAR(max),
    @Surnames VARCHAR(max),
    @Age INT,
    @Phone VARCHAR(max),
    @Verified varchar(1),
    @Role tinyint,
    @UserEmail VARCHAR(max)
AS
BEGIN
    UPDATE [USER]
    SET
        Dni = @Dni,
        [Name] = @Name,
        Surnames =@Surnames,
        Age = @Age,
        Phone = @Phone,
        Verified = @Verified,
        [Id_Permission] =@Role,
        Email = @UserEmail
    WHERE Username = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserVerificationStatus]    Script Date: 04/06/2023 19:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserVerificationStatus]
    @username VARCHAR(50)
AS
BEGIN
    UPDATE [User]
    SET Verified = 'T'
    WHERE Username = @username
END
GO
