@model Bicistock.Common.Models.InventoryManager;
@{
    Layout = "../Shared/_LayoutNav.cshtml";
    ViewData["Title"] = "Servicios";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />


<section class="page-section">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 style="padding-top:5%;" class="page-section-heading text-center text-uppercase text-secondary mb-0">Servicios</h2>

        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">

            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; margin:1%" data-aos="zoom-in" data-aos-delay="100">
                <img class="card-img-top" style="padding:10%" src="~/Images/brakes.png">
                <div class="card-body">
                    <h4>Ajuste de frenos</h4>
                    <p class="card-text">Ajuste y alineación de frenos de disco o frenos de llanta.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; margin:1%" data-aos="zoom-in" data-aos-delay="200">
                <img class="card-img-top" style="padding:10%" src="~/Images/chain.png">
                <div class="card-body">
                    <h4>Ajuste de cambios</h4>
                    <p class="card-text">Ajuste y calibración de cambios, incluyendo cambio de cableado y ajuste de desviadores.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; margin:1%" data-aos="zoom-in" data-aos-delay="300">
                <img class="card-img-top" style="padding:10%" src="~/Images/wheel.png">
                <div class="card-body">
                    <h4>Cambio de ruedas</h4>
                    <p class="card-text">Reemplazo de ruedas desgastadas por nuevas. Incluye instalación y ajuste.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; margin:1%" data-aos="zoom-in" data-aos-delay="400">
                <img class="card-img-top" style="padding:10%" src="~/Images/chainImg.png">
                <div class="card-body">
                    <h4>Cambio de cadena</h4>
                    <p class="card-text">Reemplazo de ruedas desgastadas por nuevas. Incluye instalación y ajuste.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; margin:1%" data-aos="zoom-in" data-aos-delay="500">
                <img class="card-img-top" style="padding:10%" src="~/Images/multitool.png">
                <div class="card-body">
                    <h4>Mantenimiento completo</h4>
                    <p class="card-text">Revisión completa y ajuste de todos los componentes de la bicicleta.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; margin:1%" data-aos="zoom-in" data-aos-delay="500">
                <img class="card-img-top" style="padding:10%" src="~/Images/repair.png">
                <div class="card-body">
                    <h4>Instalación de accesorios</h4>
                    <p class="card-text">Instalación de accesorios como portabultos, luces, guardabarros, entre otros.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 17rem; margin:1%" data-aos="zoom-in" data-aos-delay="600">
                <img class="card-img-top" style="padding:10%" src="~/Images/handlebar.png">
                <div class="card-body">
                    <h4>Ajuste de dirección</h4>
                    <p class="card-text">Ajuste y revisión de la dirección de la bicicleta. Incluye lubricación y ajuste de la potencia y la horquilla.</p>
                </div>
            </div>
        </div>
        <center>

            <a class="btn btn-success" data-aos="fade-right" data-aos-delay="100" href="cita/pedir">Solicita una cita</a>
        </center>

    </div>
</section>

